<%- include('../../partials/head') %>
<%- include('../../partials/header') %>


<div class="container">
    <h1>Account page</h1>
</div>


<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>