<div class="account__side-bar">
    <div class="side-bar__profile-image">
        <img src="/img/icons/user.png" /> <!-- ACCOUNT PROFILE PICTURE HERE (optional) -->
    </div>

    <div class="side-bar__header">
        <h2>Joseph Green</h2>
    </div>

    <div class="side-bar__nav">
        <ul class="nav__items">
            <li class="nav__item hvr-inset">
                <a class="item__link" href="/user/account">
                    <img src="/img/account/star.png" />
                    <h3>Overview</h3>
                </a>
            </li>

            <li class="nav__item hvr-inset">
                <a class="item__link" href="/user/account/details">
                    <img src="/img/account/account.png" />
                    <h3>My Details</h3>
                </a>
            </li>

            <li class="nav__item hvr-inset">
                <a class="item__link" href="/user/account/memberships">
                    <img src="/img/account/membership.png" />
                    <h3>My Memberships</h3>
                </a>
            </li>

            <li class="nav__item hvr-inset">
                <a class="item__link" href="/user/account/bookings">
                    <img src="/img/account/calendar.png" />
                    <h3>My Bookings</h3>
                </a>
            </li>

            <li class="nav__item hvr-inset">
                <a class="item__link" href="/user/account/payment">
                    <img src="/img/account/discount.png" />
                    <h3>My Payment Details</h3>
                </a>
            </li>

            <li class="nav__item nav__item--last">
                <div class="nav__item--logout hvr-sweep-to-right">
                    <a href="###">
                        <h3>Logout</h3>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>