<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="/home"><img src="/img/icons/logo.png" /></a>
        </div>

        <div class="header__content">
            <div class="header__login">
                <a href="/login"><h3 class="login">Login</h3></a>
            </div>
            <div class="header__nav">
                <ul class="nav__items">
                    <li class="nav__item"><a href="/memberships"><h2>Memberships</h2></a></li>
                    <li class="nav__item"><a href="/facilities"><h2>Facilities</h2></a></li>
                    <li class="nav__item"><a href="###"><h2>Book an Activity</h2></a></li>
                </ul>
            </div>
        </div>

        <div class="header__content header__content--hamburger">
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
</header>