// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


// libs
@import "libs/vars";

// components
@import "components/reset";


body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: white;
    font-size: $header_1;
    font-weight: bold;

    &.dark {
        color: black;
    }
}

.test__color {
    width: 100%;
    height: 200px;

    &.color1 {
        background: $primary;
    }
    
    &.color2 {
        background: $secondary;
    }
    &.color3 {
        background: $tertiary;
    }
    &.color4 {
        background: $quatenary;
    }
}
