// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');


// libs
@import "libs/vars";

// components
@import "components/reset";
@import "components/header";
@import "components/footer";


body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: $header_1;
}

h2 {
    font-size: $header_2;
}

h3 {
    font-size: $header_3;
}