// Styles for the header and navigation bar

.header {
    color: $black;
    width: 100%;
    border-bottom: $border_thickness solid $black;
    // height: 100px;
    padding: 20px 40px;
    display: inline-block;

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__logo {
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 80px;
        }
    }

    &__content {
        margin-right: 40px;
        text-align: right;
        margin-left: auto;

        &--hamburger {
            display: none;
            justify-content: center;
            align-items: center;
        }
    }

    &__login {
        border: $border_thickness solid $black;
        display: inline-block;
        padding: 5px 15px;
        margin-right: 15px;
    }



    .nav {
        &__item {
            display: inline-block;
            text-transform: uppercase;
            padding: 5px 15px;
        }
    }
}


@media only screen and (max-width: 950px) {
    .header {

        &__content {
            display: none;

            &--hamburger {
                display: flex;
            }
        }
    }
}