// Styles for the header and navigation bar
.header-spacing {
    width: 100%;
    height: 115px;
}

.header {
    color: $black;
    width: 100%;
    border-bottom: $border_thickness solid $primary;
    padding: 15px 40px;
    display: inline-block;
    position: fixed;
    z-index: 8;
    top: 0;
    background-color: $white;
    min-height: 115px;

    &__nav {
        .nav {
            &__item {
                display: inline-block;
                text-transform: uppercase;
                padding: $padding_border_block;
            }
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__logo {
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 80px;
        }
    }

    &__content {
        margin-right: 40px;
        text-align: right;
        margin-left: auto;

        &--hamburger {
            display: none;
            justify-content: center;
            align-items: center;
        }
    }

    &__login {
        border: $border_thickness solid $black;
        display: inline-block;
        padding: $padding_border_block;
        margin-right: 15px;
    }


    &__dropdown {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 7;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden;
        display: none;

        .dropdown {
            &__nav {
                padding: 40px;
                height: 100%;
                display: flex;
                align-items: center;

                .nav {
                    &__items {
                        margin-left: 25%;
                    }

                    &__item {
                        padding: 5px 0;
                        &--login {
                            border: $border_thickness solid $black;
                            padding: $padding_border_block;
                            display: inline-block;
                        }
                    }
                }
            }

            &__container {
                position: relative;
                background: $tertiary;
                width: 0;
                height: 100%;
                z-index: 8;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
                transition: all 0.5s;
                float: right;

                &--open {
                    width: 70%;
                    clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%);
                }
            }
        }
    }
}

@media only screen and (min-width: $max_width_primary) {
    .header {
        &__dropdown {
            display: none !important;
        }
    }
}

@media only screen and (max-width: $max_width_primary) {
    .header {
        &__content {
            display: none;

            &--hamburger {
                display: flex;
            }
        }
    }
}

@media only screen and (max-width: $max_width_secondary) {
    .header {
        padding: 15px;
        
        &__logo {
            margin-left: 10px;
        }

        &__content {
            margin-right: 10px;
        }

        &__dropdown {
            .dropdown {        
                &__container {
                    &--open {
                        width: 90%;
                        clip-path: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);

                    }
                }
            }
        }
    }

}