// Landing page styling 

.jumbotron {
    height: 600px;
    background-image: url('/img/woman-doing-exercise-inside-gym-2247179.jpg');
    background-position: 80% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    position: relative;

    &__overlay {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    
        .overlay {
            &__half {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &--background {
                    background-color: $quatenary;
                    opacity: .9;
                    clip-path: polygon(0 0, 100% 0%, 76% 100%, 0 100%);
                }
            }
        }
    }

    &__content {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        margin-left: 40px;

        .content {
            &__text {
                text-transform: uppercase;
                font-weight: bold;
            }

            &__link {
                border: $border_thickness solid $white;
                display: inline-block;
                padding: 5px 15px;
                margin-top: 10px;
            }
        }
    }
}


.webpart {
    position: relative;
    margin-top: -80px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__option {
        max-width: 425px;
        width: 25%;
        display: flex;
        height: 230px;
        background-color: $white;
        margin: 20px 50px;
        border: $border_thickness solid $primary;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
        padding: 20px;
        transition: all .4s ease 0s;        
        // border-bottom: 6px solid darken($color: $tertiary, $amount: 10);

        .option {
            &__content {
                width: 100%;
                position: relative;
            
                .content {
                    &__image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;

                        img {
                            width: $icon_default_width;
                        }
                    }

                    &__desc {
                        display: flex;
                        flex-wrap: wrap;
                        // background-color: $tertiary;
                        position: absolute;
                        bottom: 0;
                        margin-left: 10px;
                        width: 100%;
                    }

                    &__title {
                        width: 70%;
                    }

                    &__open {
                        width: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 40px;
                        }
                    }  
                }
            }
        }
    }
}


.reviews {
    background-color: $primary;
    clip-path: polygon(100% 0, 100% 76%, 0 100%, 0 24%);
    padding: 40px;
    color: $white;

    &__container {
        margin: 100px 60px;
    }

    &__header {
        font-weight: bold;
        text-transform: uppercase;
        padding: $padding_border_block;
        margin-top: 20px;
        text-align: center;
    }

    &__carousel {
        .carousel {
            &__item {
                text-align: center;
                display: flex !important;
                justify-content: center;
                align-items: center;

                .item {
                    &__text {
                        width: 60%;
                    }
                }
            }
        }
    }
}


.hours {
    background-color: $primary;
    clip-path: polygon(100% 0, 100% 76%, 0 100%, 0 24%);
    padding: 40px;
    color: $white;

    &__container {
        margin: 100px 60px;
    }

    &__header {
        font-weight: bold;
        text-transform: uppercase;
        padding: $padding_border_block;
        margin-top: 20px;
        text-align: center;
    }

    &__table {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        table {
            border: $border_thickness solid $white;
            padding: 10px;

            tr {
                td {
                    padding: 5px 60px;
                }
            }
        }
    }
}


@media only screen and (max-width: $max_width_primary) {
    .webpart {
        &__option {
            width: 50%;
        }
    }

    .reviews {
        clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);

        &__container {
            margin: 100px 10px;
        }
    
    }

    .hours {
        clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);

        &__container {
            margin: 100px 10px;
        }
    }
}


@media only screen and (max-width: $max_width_secondary) {
    .jumbotron {
        &__content {
            width: 100%;
            margin: 0;
        }

        &__overlay {
            .overlay {
                &__half {
                    width: 100%;
                    height: 100%;
                    clip-path: none;
                }
            }
        }
    }

    .webpart {
        &__option {
            width: 100%;
        }
    }

    .reviews {
        clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);

        &__carousel {
            .carousel {
                &__item {
                    .item {
                        &__text {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }


    .hours {
        clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
        
        &__table {
            table {
                tr {
                    td {
                        padding: $padding_border_block;
                    }
                }
            }
        }
    }
}