// Login page styling 


.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

    &--background {
        background-image: url('/img/gallery/person-holding-barbell-841130.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    &__half {
        // width: 50%;
        height: 100%;
        width: 50%;
        color: $white;
        display: flex;
        align-items: center;

        &--form {
            background-color: $quatenary;
            opacity: .9;
            padding: 40px 60px;
        }

        &--register {
            display: none;
        }

        &--background {
            background-image: url('/img/gallery/person-holding-barbell-841130.jpg');
            background-position: 50% 0%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .half {
            &__divider {
                width: 100%;
                text-align: center;
            }

            &__form-transition-header {
                border: $border_thickness solid $white;
                display: inline-block;
                padding: $padding_border_block;
            }

            &__login-header {
                font-weight: bold;
                text-transform: uppercase;
                padding: $padding_border_block;
                margin-top: 20px;
                text-align: center;
            }
            
            &__login-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                padding: $padding_border_block;

                img {
                    width: $icon_default_width;
                }
            }

            &__login-form {
                margin-top: 40px;
                margin: 40px 20px 0 20px;
                text-align: center;


                .login-form {
                    &__group {
                        margin-bottom: 30px;
                    }

                    &__label {
                        display: block;
                        padding: 5px;
                    }

                    &__input {
                        border: $border_thickness solid $black;
                        padding: $padding_border_block;
                        max-width: 400px;
                        min-width: 200px;
                        width: 60%;

                        &--error {
                            border-color: $red;
                        }
                    }

                    &__btn {
                        border: $border_thickness solid $black;
                        padding: $padding_border_block;
                        background-color: $white;
                        cursor: pointer;
                    }

                    &__error {
                        color: $red;
                    }
                }
            }

            &__bottom-link {
                margin: 5px 0;

                &--register {
                    display: none;
                }

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}



@media only screen and (max-width: $max-width-primary) {
    .login {
        &__half {
            width: 100%;

            &--background {
                display: none;
            }

            .half {
                &__bottom-link {
                    &--register {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $max-width-secondary) {  
    .login {
        &__half {
            width: 100%;
        }
    }  
}

@media only screen and (max-width: $max-width-tertiary) {
    .login {
        &__half {
            &--form {
                padding: 40px 0;
            }

            .half {
                &__login-form {
                    .login-form{
                        &__input {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}