// Account page (pages) styling


@import "account-overview";

.account {
    display: flex;
    opacity: .9;
    overflow: hidden;

    &--background {
        background-image: url('/img/test.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__side-open {
        cursor: pointer;
        color: $white;
        display: none;


        .side-open {
            &__bar {
                background-color: $black;
                width: 20px;
                min-width: 20px;
                height: 100%;
            }

            &__label {
                position: absolute;
                margin-left: 20px;
                z-index: 6;

                .label {
                    &__expand {
                        background-color: $tertiary;
                        transform: rotate(-90deg);
                        transform-origin: 51px 51px;
                        padding: 5px;
                    }
                }
            }
        }
        
    }

    &__side-bar {
        width: 20%;
        min-width: $account_side_bar_width;
        background-color: $quatenary; //or quatenary??
        color: $white;
        padding: 40px 0;
        padding-bottom: 60px;
        margin-left: 0;
        transition: .25s;


        &--open {
            margin-left: 0 !important;
        }


        .side-bar {
            &__header {
                font-weight: bold;
                text-transform: uppercase;
                padding: $padding_border_block;
                margin-top: 20px;
                text-align: center;

                .header {
                    &__email {
                        font-weight: normal;
                        text-transform: none;
                    }
                }
            }

            &__profile-image {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                padding: $padding_border_block;

                img {
                    width: $icon_default_width;
                }
            }

            &__nav {
                display: flex;
                justify-content: center;

                .nav {
                    &__items {
                        padding: 20px;
                    }

                    &__item {
                        padding: 10px 0;

                        &--last {
                            display: flex;
                            justify-content: center;
                            margin-top: 20px;
                        }

                        &--logout {
                            border: $border_thickness solid $white;
                            display: inline-block;
                            padding: $padding_border_block;
                            margin-right: 15px;
                        }

                        .item {
                            &__link {
                                display: flex;
                                align-items: center;

                                img {
                                    width: $icon_small_width;
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__section {
        width: 80%;
        color: $white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 60px 0px;
    }


    &__details {
        color: $black;

        .details{
            &__content {
                width: 90%;
                margin-bottom: 40px;
                display: flex;
                flex-wrap: wrap;
                border-top: $border_thickness solid $black;

                &--success {
                    border: none;
                    justify-content: center;
                }

                .content {
                    &__success {
                        color: $quatenary;
                    }
                    
                    &__form-title {
                        width: 40%;
                        color: $white;

                        .form-title {
                            &__title {
                                background-color: $tertiary;
                                padding: 10px;
                                clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
                            }

                            &__desc {
                                color: $black;
                                padding: 10px;
                                margin-top: 10px;
                            }
                        }
                    }

                    &__update-form {
                        width: 60%;
                        text-align: center;

                        .update-form {
                            &__group {
                                margin: 15px 20%;

                                &--col {
                                    display: flex;
                                    justify-content: center;
                                }
        
                                &--row {
                                    &:first-child {
                                        padding-right: 5px;
                                    }
        
                                    &:last-child {
                                        padding-left: 5px;
                                    }
                                }
                            }

                            &__label {
                                display: block;
                                padding: 5px;
                            }

                            &__input {
                                border: $border_thickness solid $black;
                                padding: $padding_border_block;
                                width: 100%;
                            }

                            &__btn {
                                border: $border_thickness solid $black;
                                padding: $padding_border_block;
                                background-color: $white;
                                cursor: pointer;
                            }

                            &__error {
                                color: $red;

                                &--d-none {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}


@media only screen and (min-width: $max_width_primary) {
    .account {
        &__side-bar {
            margin-left: 0 !important;
        }
    }
}


@media only screen and (max-width: $max_width_primary) {
    .account {
        &__side-open {
            display: flex;
        }

        &__side-bar {
            margin-left: -$account_side_bar_width;
        }

        &__section {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $max_width_secondary) {

}

@media only screen and (max-width: $max_width_tertiary) {
    .account {
        &__side-bar {
            min-width: $account_side_bar_small_width;
            margin-left: -$account_side_bar_small_width;
        }
    }
}