// Account page (pages) styling


.account {
    display: flex;

    &__side-bar {
        width: 20%;
        min-width: 250px;
        // height: 800px;
        background-color: $primary; //or quatenary??
        color: $white;
        padding: 40px 0;
        padding-bottom: 60px;
        // clip-path: polygon(0 0, 100% 0%, 100% 76%, 0% 100%);


        .side-bar {
            &__header {
                font-weight: bold;
                text-transform: uppercase;
                padding: $padding_border_block;
                margin-top: 20px;
                text-align: center
            }

            &__profile-image {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                padding: $padding_border_block;

                img {
                    width: $icon_default_width;
                }
            }

            &__nav {
                display: flex;
                justify-content: center;

                .nav {
                    &__items {
                        padding: 20px;
                    }

                    &__item {
                        padding: 10px 0;

                        &--last {
                            display: flex;
                            justify-content: center;
                            margin-top: 20px;
                        }

                        &--logout {
                            border: $border_thickness solid $white;
                            display: inline-block;
                            padding: $padding_border_block;
                            margin-right: 15px;
                        }

                        .item {
                            &__link {
                                display: flex;
                                align-items: center;


                                img {
                                    width: $icon_small_width;
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    &__overview {
        // background-color: rgba(0,0,0,.03);
        width: 80%;
        color: $black;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 60px 0px;


        .overview {
            &__option {
                width: 50%;
                max-width: 500px;
                display: flex;
          

                .option {
                    &__content {

                        // background-color: $primary;
                        border: $border_thickness solid $black;
                        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
                        margin: 20px;
                        text-align: center;
                        padding: 20px;

                        .content {
                            &__image {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 10px;

                                img {
                                    width: $icon_default_width;
                                }
                            }

                            &__title {
                                font-weight: bold;
                                text-transform: uppercase;
                                display: inline-block;

                            }

                            &__explore {
                                border: $border_thickness solid $black;
                                display: inline-block;
                                padding: $padding_border_block;
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: $max_width_primary) {
    .account {
        &__overview {
            .overview {
                &__option {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: $max_width_secondary) {

}

@media only screen and (max-width: $max_width_tertiary) {

}