<%- include('../../partials/head') %>

<h1>Im a manager I can do whatever I want YEEEEEEEEEEEEEEEEEET</h1>


<ul>
    <li>
        <a href="/manager/activities/new" style="text-decoration: underline;">Add a new activity</a>
    </li>

    <li>
        <a href="/manager/facilities/new" style="text-decoration: underline;">Add a new facility</a>
    </li>

    <li>
        <a href="/manager/register/employee" style="text-decoration: underline;">Add a new Employee</a>
    </li>

    <li>
        <a href="###">View usage statistics</a>
    </li>

    <li>
        <a href="/user/logout" style="text-decoration: underline;">Logout</a>
    </li>
</ul>



<%- include('../../partials/foot') %>
