<%- include('../../partials/head') %>


<form method="POST" action="/api/upload_facility" enctype="multipart/form-data">
    <input type="file" name="image"><br>

    <input type="text" name="name"><br>
    <input type="submit">
</form>

<%- include('../../partials/foot') %>
