<form method="POST" action="/api/upload" enctype="multipart/form-data">
    <input type="file" name="image"><br>
    <input type="submit">
</form>
<br>
<form method="POST" action="/api/new_activity"></form>
    <input name="discount" type="text"><br>
    <input name="cost" type="text"><br>
    <input name="start_time" type="text"><br>
    <input name="duration" type="text"><br>
    <input name="id_sport" type="text"><br>
    <input type="submit">
</form>