<form method="POST" action="/api/upload" enctype="multipart/form-data">
    <input type="file" name="image"><br>
    <input type="submit">
</form>
<br>
<form method="POST" action="/api/new_activity">
    <label>Discount</label>
    <input name="discount" type="text"><br>

    <label>Cost</label>
    <input name="cost" type="text"><br>

    <label>Start Time</label>
    <input name="start_time" type="text"><br>

    <label>Duration</label>
    <input name="duration" type="text"><br>

    <label>id sport??</label>
    <input name="id_sport" type="text"><br>

    <input type="submit">
</form>