<%- include('../partials/head') %>


<div class="container" style="height:100%;margin:auto;text-align:center;background-image:url('https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Animals-PNG/Funny_Dog_Transparent_PNG_Clipart.png?m=1434276923');background-size:cover;">
   
    <div style="background: rgba(255,255,255,0.5);height:100%;width:100%;padding:200px">
        <h1 style="font-size:7em;">404 :(</h1><br>
        <h2>Wha? I guess you've lost your way around.</h2><br>
        <h3>"Home is behind, the world ahead, and there are many paths to tread." (cit.)</h3>
    </div>

</div>
