<%- include('../partials/head') %>
<%- include('../partials/header') %>


<div class="container container--full-height-no-header">
    <div class="error-page">
        <div class="error-page__info">
            <div class="info__content">
                <div class="content__title">Full!</div>   
                <h2>We appreciate your love and support, but this activity is already fully booked!</h2>

                <h4>Why not try a different activity!</h4>

                <div class="content__link hvr-sweep-to-right">
                    <a href="/activities">
                        <h3>Return to safety</h3>
                    </a>
                </div>

            </div>

            <div class="info__spacer"></div>
        </div>


        <div class="error-page__image">
            <img src="/img/elements/error3.gif" />
        </div>
    </div>
</div>


<%- include('../partials/foot') %>