<%- include('../partials/head') %>


<div class="container">
    <div class="jumbotron">
        <div class="jumbotron__overlay">
            <div class="overlay__half overlay__half--background "></div>

            <div class="overlay__half"></div>
        </div>

        <div class="jumbotron__content">
            <div class="content__text">
                <h1>Premium Annual Membership</h1>
                <a class="content__link" href="/memberships"><h2>Join Now</h2></a>
            </div>
        </div>
    </div>


    <div class="webpart">
        <div class="webpart__option">
            <a class="option__content" href="####">
                <div class="content__image">
                    <img src="/img/icons/gym.png" />
                </div>

                <div class="content__desc">
                    <h2 class="content__title">Classes & activities</h2>
                    <div class="content__open">
                        <img src="img/icons/arrow.png" /> 
                    </div>
                </div>
            </a>
        </div>

        <div class="webpart__option">
            <a class="option__content" href="###">
                <div class="content__image">
                    <img src="/img/icons/discount.png" />
                </div>

                <div class="content__desc">
                    <h2 class="content__title">Memberships & Pricing</h2>
                    <div class="content__open">
                        <img src="img/icons/arrow.png" /> 
                    </div>
                </div>
            </a>
        </div>

        <div class="webpart__option">
            <a class="option__content" href="###">
                <div class="content__image">
                    <img src="/img/icons/basketball.png" />
                </div>

                <div class="content__desc">
                    <h2 class="content__title">Our Facilities</h2>
                    <div class="content__open">
                        <img src="img/icons/arrow.png" /> 
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="reviews">
        <div class="reviews__container">
            <div class="reviews__header">
                <h2>What others think</h2>
            </div>
        </div>
    </div>

    <div class="gallery">
        <div class="gallery__container">
            <div class="gallery__content">
                <img class="content__image content__image--first" src="/img/gallery/an-on-treadmill-1954524.jpg" /> 
                <img class="content__image content__image--last" src="/img/gallery/person-holding-barbell-841130.jpg" /> 
            </div>

            <div class="gallery__content">
                <img class="content__image content__image--last" src="/img/gallery/close-up-photo-of-person-holding-tennis-racket-and-ball-1432039.jpg" /> 
                <img class="content__image content__image--first" src="/img/gallery/person-swimming-on-body-of-water-863988.jpg" /> 
            </div>
        </div>
    </div>

    <div class="hours">
        <div class="hours__container">
            <div class="hours__header">
                <h2>Opening Hours</h2>
            </div>

            <div class="hours__table">
                <table>
                    <tr>
                        <th>Day</th>
                        <th>Hours</th>
                    </tr>

                    <tr>
                        <td>Mon - Fri</td>
                        <td>06:30 - 22:30</td>
                    </tr>

                    <tr>
                        <td>Saturday</td>
                        <td>07:30 - 21:00</td>
                    </tr>

                    <tr>
                        <td>Sunday</td>
                        <td>10:00 - 16:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/foot') %>




    