<%- include('../partials/head') %>



<div class="test__color color1">
    <h1>Hello World!</h1>
    <h1 class="dark">Hello World!</h1>
</div>

<div class="test__color color2">
    <h1>Hello World!</h1>
    <h1 class="dark">Hello World!</h1>
</div>

<div class="test__color color3">
    <h1>Hello World!</h1>   
    <h1 class="dark">Hello World!</h1>
</div>  

<div class="test__color color4">
    <h1>Hello World!</h1>
    <h1 class="dark">Hello World!</h1>
</div>

<%- include('../partials/footer') %>




    