<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <div class="jumbotron__overlay">
            <div class="overlay__half overlay__half--background "></div>

            <div class="overlay__half"></div>
        </div>

        <div class="jumbotron__content">
            <div class="content__text">
                <h1>Premium Annual Membership</h1>
                <a class="content__link hvr-sweep-to-right" href="/memberships"><h2>Join Now</h2></a>
            </div>
        </div>
    </div>


    <div class="webpart">
        <div class="webpart__option hvr-float">
            <a class="option__content" href="/activities">
                <div class="content__image">
                    <img src="/img/icons/gym.png" />
                </div>

                <div class="content__desc">
                    <h2 class="content__title">Classes & activities</h2>
                    <div class="content__open">
                        <img src="img/icons/arrow.png" /> 
                    </div>
                </div>
            </a>
        </div>

        <div class="webpart__option hvr-float">
            <a class="option__content" href="/memberships">
                <div class="content__image">
                    <img src="/img/icons/discount.png" />
                </div>

                <div class="content__desc">
                    <h2 class="content__title">Memberships & Pricing</h2>
                    <div class="content__open">
                        <img src="img/icons/arrow.png" /> 
                    </div>
                </div>
            </a>
        </div>

        <div class="webpart__option hvr-float">
            <a class="option__content" href="/facilities">
                <div class="content__image">
                    <img src="/img/icons/basketball.png" />
                </div>

                <div class="content__desc">
                    <h2 class="content__title">Our Facilities</h2>
                    <div class="content__open">
                        <img src="img/icons/arrow.png" /> 
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="reviews">
        <div class="reviews__container">
            <div class="reviews__header">
                <h2>What others think</h2>
            </div>

            <div class="reviews__carousel">
                <div class="carousel__item">
                    <div class="item__text">
                        "I'm so glad I joined The Edgy rather than a different sports center because the help and welcome I've received
                        is unrivalled. The staff are always willing to help you, whether it's just showing you how something is done or simply
                        filming a quick snippet of your workout. It's the staff that have made my experience so enjoyable and they've motivated
                        me to stick with it. The range of sessions is great - there's something for everyone and your always made to feel involved."
                    </div>
                </div>

                <div class="carousel__item">
                    <div class="item__text">
                        "I signed up and joined The Edgy a few years ago with the one goal of making exercise part of my life.
                        Since then I attended twice a week to work out with one of the personal trainers; they're really motivating
                        , whilst pushing you to improve. Recently I have taken on couch to 5k which I've been completing on the treadmill.
                        I fin that this sports center has all the equipment I need is easy to access and clean. I would highly recommend!"
                    </div>
                </div>

                <div class="carousel__item">
                    <div class="item__text">
                        "I have been using this sports center for 3 years and always enjoy coming - it's a very inclusive sports center,
                        you're made to feel welcome and there is always someone to ask for help. The staff are very approachable and the other
                        members friendly - there is no competitiveness during the classes or using the equipment. It's a really great place to 
                        train!"
                    </div>
                </div>
                    
                <!-- <div class="carousel__item">
                    <div class="item__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
                    </div>
                </div>

                <div class="carousel__item">
                    <div class="item__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
                    </div>
                </div> -->
            </div>  
        </div>
    </div>

    <div class="gallery">
        <div class="gallery__container">
            <div class="gallery__content">
                <img class="content__image content__image--first" src="/img/gallery/an-on-treadmill-1954524.jpg" /> 
                <img class="content__image content__image--last" src="/img/gallery/person-holding-barbell-841130.jpg" /> 
            </div>

            <div class="gallery__content">
                <img class="content__image content__image--last" src="/img/gallery/close-up-photo-of-person-holding-tennis-racket-and-ball-1432039.jpg" /> 
                <img class="content__image content__image--first" src="/img/gallery/person-swimming-on-body-of-water-863988.jpg" /> 
            </div>
        </div>
    </div>

    <div class="hours">
        <div class="hours__container">
            <div class="hours__header">
                <h2>Opening Hours</h2>
            </div>

            <div class="hours__table">
                <table>
                    <tr>
                        <th>Day</th>
                        <th>Hours</th>
                    </tr>

                    <tr>
                        <td>Mon - Fri</td>
                        <td>06:30 - 22:30</td>
                    </tr>

                    <tr>
                        <td>Saturday</td>
                        <td>07:30 - 21:00</td>
                    </tr>

                    <tr>
                        <td>Sunday</td>
                        <td>10:00 - 16:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
<%- include('../partials/foot') %>




    