<%- include('../partials/head') %>


<div class="container">
    <div class="jumbotron">
        <div class="jumbotron__overlay">
            <div class="overlay__half overlay__half--background "></div>

            <div class="overlay__half"></div>
        </div>

        <div class="jumbotron__content">
            <div class="content__text">
                <h1>Premium Annual Membership</h1>
                <a class="content__link" href="/memberships"><h2>Join Now</h2></a>
            </div>
        </div>
    </div>


    <div class="webpart">
        <div class="webpart__option">
            <div class="option__content">
              
            </div>
        </div>

        <div class="webpart__option">
            <div class="option__content">

            </div>
        </div>

        <div class="webpart__option">
            <div class="option__content">

            </div>
        </div>
    </div>


    <div class="reviews"></div>

    <div class="gallery"></div>

</div>

<%- include('../partials/foot') %>




    