<%- include('../partials/head') %>

<h1>Login page</h1>

<form method="POST">

    <input name="email" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" placeholder="E-mail"/>
    <input name="password" type="password" placeholder="Password"/>

    <button type="submit">Login</button>

</form>

Don't have an account? <a href="/register">Get your life together</a>

<%- include('../partials/foot') %>