<%- include('../partials/head') %>


<div class="container">
    <div class="pricing-table">
        <div class="pricing-table__container">
            <div class="pricing-table__header">
                <h2>Pricing Options</h2>
            </div>

            <div class="pricing-table__centre">
                <div class="pricing-table__option">
                    <a href="###">
                        <div class="option__content">
                            <div class="content__membership-plan">
                                <h2>Monthly</h2>
                            </div>

                            <div class="content__membership-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
                            </div>

                            <div class="content__membership-price">
                                <h2>£####</h2>
                            </div>

                            <div class="content__membership-join">
                                <div class="join__link">
                                    <h2>Join Now</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="pricing-table__option pricing-table__option--focus">
                    <a href="####">
                        <div class="option__content">
                            <div class="content__image">
                                <img src="/img/icons/star.png" />
                            </div>

                            <div class="content__membership-plan">
                                <h2>Annual</h2>
                            </div>

                            <div class="content__membership-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
                            </div>

                            <div class="content__membership-price">
                                <h2>£####</h2>
                            </div>

                            <div class="content__membership-join">
                                <div class="join__link">
                                    <h2>Join Now</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="pricing-table__option">
                    <a href="####">
                        <div class="option__content">
                            <div class="content__membership-plan">
                                <h2>Sports Pass</h2>
                            </div>

                            <div class="content__membership-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
                            </div>

                            <div class="content__membership-price">
                                <h2>£####</h2>
                            </div>

                            <div class="content__membership-join">
                                <div class="join__link">
                                    <h2>Join Now</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery">
        <div class="gallery__container">
            <div class="gallery__content">
                <img class="content__image content__image--first" src="/img/gallery/an-on-treadmill-1954524.jpg" /> 
                <img class="content__image content__image--last" src="/img/gallery/person-holding-barbell-841130.jpg" /> 
            </div>

            <div class="gallery__content">
                <img class="content__image content__image--last" src="/img/gallery/close-up-photo-of-person-holding-tennis-racket-and-ball-1432039.jpg" /> 
                <img class="content__image content__image--first" src="/img/gallery/person-swimming-on-body-of-water-863988.jpg" /> 
            </div>
        </div>
    </div>

    <div class="statistics">

    </div>
</div>

<%- include('../partials/foot') %>