*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
/app/local.properties
/build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
/app/app.iml
/app/build/
/app/build.gradle
/app/libs/
/app/proguard-rules.pro
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
